{% extends 'base.html' %}

{% block page_title %}
    {{book.title}}'s Info
{% endblock page_title %}

{% block content %}
    <section>
        <div>
            <h1>{{book.title}} | <a href="{% url 'books:update' book.pk %}">수정</a></h2>
            <h3>Director : {{book.writer}}</h3>
            <h3>Year : {{book.year}}</h3>
            <h3>Rating : {{book.rating}}</h3>
            <h3>Category : {{book.category}}</h3>
          <hr />
        </div>
    </section>
{% endblock content %}
    
