{% extends 'base.html' %}

{% block page_title %}
    Movies List Page
{% endblock page_title %}

{% block content %}
    <section>
        <div>
            <h2>Movies</h2>
            <a href="{% url 'movies:create' %}">
                <h3>Create Movie</h3>
            </a>
            {% for movie in movies %}
                <div>
                    <a href="{% url 'movies:detail' movie.pk %}">
                        <h3>{{movie.title}} - {{movie.director}}</h3>
                    </a>
                    <h5>{{movie.year}}</h5>
                </div>
            {% endfor %}
          <hr />
        </div>
        <div>
            <h5>
                {% if page_obj.has_previous %}
                    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
            </h5>
        </div>
    </section>
{% endblock content %}
    
